<div class="sidebar">
      
    <div class="left-men-u">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <img src="assets/images/overview-enterprise.png" alt="" srcset="">
                        <img src="assets/images/company-black.png" alt="" srcset="">
                        TEMPLATE PROPERTIES<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <ul class="card-body nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/technical-settings/add-template-properties"
                            data-toggle="tab"><img src="assets/images/plus-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD TEMPLATE PROPERTIES </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <img src="assets/images/overview-organization.png" alt="" srcset="">
                        <img src="assets/images/org-black.png" alt="" srcset="">CONTRACT PROPERTIES
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/technical-settings/add-contract-properties"
                                data-toggle="pill"><img src="assets/images/plus-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD CONTRACT PROPERTIES </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <img src="assets/images/overview-department.png" alt="" srcset=""><img
                            src="assets/images/dept-black.png" alt=""
                            srcset="">FILE PATH SETTING<span><i class="fa fa-angle-right"></i></span>

                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/technical-settings/add-pathfile-setting"
                                data-toggle="pill"><img src="assets/images/plus-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD FILE PATH SETTING </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        <img src="assets/images/overview-group.png" alt="" srcset=""><img
                            src="assets/images/group-black.png" alt="" srcset="">DATA SOURCE
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/technical-settings/add-data-source"
                                data-toggle="pill"><img src="assets/images/plus-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">ADD DATA SOURCE
                                 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/technical-settings/edit-data-source"
                                data-toggle="pill"><img src="assets/images/pencil-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                EDIT DATA SOURCE</a>
                        </li>	
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/technical-settings/view-data-source"
                                data-toggle="pill"><img src="assets/images/pencil-black.png"
                                    alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                VIEW DATA SOURCE</a>
                        </li>											
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>