<div class="sidebar">
    <!-- <h3 class="mb-0 p-2">My Company</h3> -->
    <div class="left-men-u">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <img src="assets/images/overview-enterprise.png" alt="" srcset="">
                        <img src="assets/images/company-black.png" alt="" srcset="">
                        USERS<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <ul class="card-body nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/access-management/add-users" data-toggle="tab"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD USERS </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/access-management/edit-view-users" data-toggle="tab"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                VIEW & EDIT USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/access-management/assign-roles" data-toggle="tab"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                ASSIGN ROLES TO USER</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <img src="assets/images/overview-organization.png" alt="" srcset="">
                        <img src="assets/images/org-black.png" alt="" srcset="">ROLES
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/access-management/add-roles" data-toggle="pill"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD ROLES </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/access-management/edit-view-roles" data-toggle="pill"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                EDIT & VIEW ROLES</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="/access-management/organization" data-toggle="pill"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                                VIEW ORGANIZATION</a>
                        </li> -->
                    </ul>
                </div>
            </div>



        </div>
    </div>
</div>