<div class="row mt-3 create_new_company">
        <div class="container">
            <!--title-->
            <div class=" row-div">
                <div class="title_col">
                    <a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
                </div>
                <ul class="subm">
                    <li>Technical Setting  <a href="">/</a> </li>
                    <li>File Path Setting <a href="">/</a> </li>
                    <li><a href="">  Add </a></li>
                </ul>
                <!-- <h1 class="heading">Create a New Company</h1> -->
            </div>
            <!--/title-->
    
            <!--data-section-->
            <div class="data_section row-div">
                <div class="data_title row-div">
                    <h3>Manage File Path Setting</h3>
                </div>
                <div class="data_inner row-div">
                    <div class="row">
                        <!--left-sidebar-->
                        <div class="col-12 col-lg-3 left_sidebar">
                            <app-technical-sidebar></app-technical-sidebar>
                        </div>
                        <!--right-container-->
                        <div class="col-12 col-lg-9 right_container">
                                <form class="inner_content row-div template-setting">
                                        <div class="global_form ">
                                                <h3>AT ORGANIZATION UNIT LEVEL</h3>
                                                <div class="form-group name_field">
                                                    <label class="label_field">Select Company </label>
                                                    <div class="controls_field">
                                                        <select class="form-control">
                                                            <option>Emirates NBD Group Company</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group location_field  ">
                                                    <label class="label_field">Set Path For Common Teamplates</label>
                                                    <div class="controls_field">
                                                        <div class="form-group ">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                        </div> 
                                        <div class="global_form template_exten">
                                                <h3>AT ORGANIZATION UNIT LEVEL</h3>
                                                <div class="form-group name_field">
                                                    <label class="label_field">Select Oraganization </label>
                                                    <div class="controls_field">
                                                        <select class="form-control">
                                                            <option>Emirates NBD Group Company</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group location_field  ">
                                                    <label class="label_field">Set Path For Storing Teamplates</label>
                                                    <div class="controls_field">
                                                        <div class="form-group ">
                                                            <input type="text" class="form-control ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group location_field  ">
                                                        <label class="label_field">Set Path For Data Source</label>
                                                        <div class="controls_field">
                                                            <div class="form-group ">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                </div>
                                                
                                                <div class="check_option">
                                                        <p>Read From The Data Source At a Set Frequency</p>
                                                        <!-- <div class="switch_toggle">
                                                            <input type="checkbox" checked data-toggle="toggle" data-on="Yes"
                                                                data-off="No" data-size="sm">
                
                                                        </div> -->
                                                        <label class="switch">
                                                            <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-size="sm">
                                                            <span class="slider round"></span>
                                                        </label>
                                                 </div>
                                                 <div class="form-group location_field form-group2">
                                                        <label class="label_field">If Yes,Set Frequency to Every? </label>
                                                        <div class="controls_field form-group3" >
                                                                <div class="form-group lavel_1">
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                                <div class="form-group lavel_2">
                                                                    <select class="form-control">
                                                                        <option>Hours</option>
                                                                        <option>Minutes</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group location_field form-group2">
                                                        <label class="label_field"></label>
                                                        <div class="controls_field form-group3">
                                                            <div class="form-group lavel_1">
                                                                <input type="text" class="form-control" placeholder="Start-Time">
                                                            </div>
                                                            <div class="form-group lavel_2">
                                                                    <input type="text" class="form-control" placeholder="End-Time"> 
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>  
                                        <div class="tfooter_btn_col">
                                                <button type="button" class="btn btn-cancel"><i class="fa fa-close"></i> Cancel</button>
                                                <button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
                                         </div>      
                                </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>