<!--template-feature-4-circle-->
<div class="pt-5 pb-5 row-div">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6   text-center">
                <div class="dash-box mt-2 bg-secondary">
                    <h3>Templete Properties</h3>
                    <figure><img src="assets/images/template-ts.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink='add-template-properties'><img src="assets/images/plus-white.png">Add </a></li>
                
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6   text-center">
                <div class="dash-box bg-info ">
                    <h3>Contract Profile</h3>
                    <figure><img src="assets/images/contract-ts.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink='add-contract-properties'><img src="assets/images/plus-white.png">Add </a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6    text-center">
                <div class="dash-box mt-2 bg-danger">
                    <h3>Path File Setting</h3>
                    <figure><img src="assets/images/pathway.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink='add-pathfile-setting'><img src="assets/images/plus-white.png">Add </a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6   text-center">
                <div class="dash-box mt-2 bg-success">
                    <h3>Data Sourse</h3>
                    <figure><img src="assets/images/database.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink='add-data-source'><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink='edit-data-source'><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink='view-data-source'    ><img src="assets/images/eye-white.png">View </a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-template-feature-4-circle-->

<div class="modal fade workflow-step " id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav w-100 nav-tabs">
                  
                        <li><a data-toggle="tab" href="#menu5">
                               XYZ PROCESS</a>
                        </li>
                
                    </ul>
                </div>
                <!--  -->
    
                        <div id="menu5" class="tab-pane fade">
                            <h3 id="xyz">XYZ PROCESS</h3>
                            <div class="row">
                                <div class="col-9">
    
    
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="col-8">
                                                    <button class="card">aceeptance
                                                    </button>
                                                </div>
                                                <div class="col-4 abc">
                                                    <span style='font-size:20px; color:green'>&#8594;</span>
                                                    <br>
                                                    <span style='font-size:20px; color:red;'>&#8592;</span>
    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="col-8">
                                                    <button class="card">aceeptance
                                                    </button>
                                                </div>
                                                <div class="col-4 abc">
                                                    <span style='font-size:20px; color:green'>&#8594;</span>
                                                    <br>
                                                    <span style='font-size:20px; color:red;'>&#8592;</span>
    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="col-8">
                                                    <button class="card">aceeptance
                                                    </button>
                                                </div>
                                                <div class="col-4 abc">
                                                    <span style='font-size:20px; color:green'>&#8594;</span>
                                                    <br>
                                                    <span style='font-size:20px; color:red;'>&#8592;</span>
    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="col-8">
                                                    <button class="card">aceeptance
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-2 arrow">
                                            <span>&#x2193;</span>
                                        </div>
                                        <div class="col-2 arrow">
                                            <span>&#x2193;</span>
                                        </div>
                                        <div class="col-2 arrow">
                                            <span>&#x2193;</span>
                                        </div>
                                        <div class="col-2 arrow">
                                            <span>&#x2193;</span>
                                        </div>
                                    </div>
                                    <div class="row">
    
                                        <button class="xyz">COMPILANCE</button>
    
                                    </div>
                                </div>
    
                                <div class="col-3">
                                    <ul>
                                        <h6>Tool Box</h6>
                                        <li><span id="x"></span><span> &nbsp;&nbsp;ssasa</span></li>
                                        <br>
                                        <li><span id="y"></span><span>&nbsp;&nbsp;ssasa</span></li>
                                        <br>
                                        <li> <span class="abcde">&#8594;</span><span>&nbsp;&nbsp;dshdh</span>
                                        </li>
                                        <br>
                                        <li> <span class="abcdef">&#8594;</span><span>&nbsp;&nbsp;
                                                Rejected</span></li>
                                        <br>
                                        <li> <span class="abcdefg">&#8594;</span><span>&nbsp;&nbsp;
                                                dshdh</span>
                                        </li>
    
                                    </ul>
                                </div>
                            </div>
                  
                  </div>
                      </div>