<!--template-feature-4-circle-->

<div class="pt-5 pb-5 row-div">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6   text-center">
                <div class="dash-box bg-success">
                    <h3>Roles</h3>
                    <figure><img src="assets/images/work-team.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="/access-management/add-roles"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="/access-management/edit-view-roles"><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="/access-management/edit-view-roles"><img src="assets/images/eye-white.png">View </a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6   text-center">
                <div class="dash-box bg-warning">
                    <h3>Users</h3>
                    <figure><img src="assets/images/workers.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="/access-management/add-users"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="/access-management/edit-view-users"><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="/access-management/edit-view-users"><img src="assets/images/eye-white.png">View </a></li>
                        <li class="col"><a routerLink="/access-management/assign-roles"><img src="assets/images/eye-white.png">Assign </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-template-feature-4-circle-->