<!--template-feature-4-circle-->
<div class="pt-5 pb-5 row-div">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6   text-center">
                <div class="dash-box bg-success">
                    <h3>Company</h3>
                    <figure><img src="assets/images/overview-enterprise.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="add-company"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="edit-view-company"><img src="assets/images/pencil-white.png">Edit </a></li>
                                        </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6   text-center">
                <div class="dash-box bg-danger">
                    <h3>Orgnizational Unit</h3>
                    <figure><img src="assets/images/overview-organization.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="add-organization"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="edit-view-organization"><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="edit-view-organization"><img src="assets/images/eye-white.png">View </a></li>
                        <li class="col"><a routerLink="organization"><img src="assets/images/eye-white.png">Assign </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6    text-center">
                <div class="dash-box mt-2 bg-secondary">
                    <h3>Departments</h3>
                    <figure><img src="assets/images/overview-department.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="add-department"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="edit-view-department"><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="edit-view-department"><img src="assets/images/eye-white.png">View </a></li>
                        <li class="col"><a routerLink="department"><img src="assets/images/eye-white.png">Assign </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6   text-center">
                <div class="dash-box mt-2 bg-warning">
                    <h3>Users Group</h3>
                    <figure><img src="assets/images/overview-group.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="add-user-groups"><img src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="edit-view-user-groups"><img src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="edit-view-user-groups"><img src="assets/images/eye-white.png">View </a></li>
                        <li class="col"><a routerLink="javascript:void(0);"><img src="assets/images/eye-white.png">Assign </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-template-feature-4-circle-->