
        <!--template-feature-4-circle-->
        <div class="user-feature-row row-div">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 col-md-3 unit-col">
                        <div class="user-bx">
                            <figure><img src="assets/images/unit_icon.png" alt=""></figure>
                            <h3>Organizational <br>Units</h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 user-col">
                        <div class="user-bx">
                            <figure><img src="assets/images/users_icon.png" alt=""></figure>
                            <h3>Users</h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 temp-col">
                        <div class="user-bx">
                            <figure><img src="assets/images/templates_icon.png" alt=""></figure>
                            <h3>Templates</h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 cont-col">
                        <div class="user-bx">
                            <figure><img src="assets/images/contracts_icon.png" alt=""></figure>
                            <h3>Contracts</h3>
                        </div>
                    </div>    

                </div>
            </div>
        </div>
        <!--END-template-feature-4-circle-->
		
		 <!--bar-chart-->
        <div class="barchart-row row-div">
            <div class="container">
                <div class="barchart-content row-div">
                    <div class="barchart-header">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4 title-col">
                                <h3>Bar Chart</h3>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 points-col">
                                <ul class="barchart-point">
                                    <li class="template-li "><a href="javascript:void(0);">Templates</a></li>
                                    <li class="contract-li active"><a href="javascript:void(0);" >Contracts</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 report-col">
                                <a href="javascript:void(0);" class="morereport-btn"><img src="assets/images/chart_icon.png" alt=""> More Report</a>
                            </div>
                        </div>
                    </div>
                    <app-chart></app-chart>
   
                </div>
            </div>
        </div>
        <!--ENDbar-chart-->

        <!--task-quick-link-policy-boxes-->
        <div class="taskPolicy-row row-div">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 task-col">
                        <div class="task-item">
                            <h4>Task</h4>
                            <div class="task-body">
                                <ul>
                                    <li><a href="javascript:void(0);"><span>H</span> Map Template for XYZ Contracts</a></li>
                                    <li><a href="javascript:void(0);"><span>H</span> Set Password for the ABC user</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 task-col">
                        <div class="task-item">
                            <h4>Quick links</h4>
                            <div class="task-body">
                                <div class="recent-favorite row-div">
                                    <a href="javascript:void(0);" class="recent-btn">
                                        <i class="recent-icon"><img src="assets/images/recent_icon.png" alt=""></i> Recent
                                    </a>
                                    <a href="javascript:void(0);" class="favorite-btn">
                                        <i class="fa fa-heart-o"></i> Favorite
                                    </a>
                                </div>
                                <ul>
                                    <li><a href="javascript:void(0);"><span>H</span>  Map Template</a></li>
                                    <li><a href="javascript:void(0);"><span>H</span> Add User</a></li>
                                    <li><a href="javascript:void(0);"><span>H</span> Template Repository	</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 task-col">
                        <div class="task-item">
                            <h4>Policy Change alert <a href="javascript:void(0);" class="seemore-link">See More</a></h4>
                            <div class="task-body">
                                <p>11/01/18 Update FDIC issues final rule on reciprocal deposits and seeks comments on brokered deposits and interest rate restrictions </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--END-task-quick-link-policy-boxes-->
   
