<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span class="fa fa-edit"></span> EDIT THE FIELDS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="data_section row-div">
                    <div class="table-resposive">
                        <table class="w-100  no-borders">                            
                            <tbody>
                                <tr>
                                    <td class="p-1">Name: </td>
                                    <td class="p-1">
                                        <input type="text" class="form-control" value="{{editRecords?.name}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Age:</td>
                                     <td class="p-1"><input type="text" class="form-control" value="{{editRecords?.age}}"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tfooter_btn_col p-2">
                        <button type="button" class="btn btn-cancel"><i class="fa fa-close"></i> Cancel</button>
                        <button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
                    </div>
            </div>
            <!-- Modal footer -->
           
        </div>
    </div>
</div>
<!--data-section-->