<!--inner-container-->
<div class="container mt-3 add_organization_page">
	<!--title-->
	<div class=" row-div">
		<div class="title_col">
			<a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
		</div>

		<ul class="subm">
			<li><a routerLink="/entity-management">Entity Management </a>/ </li>
			<li> <a routerLink="/entity-management/organizational">Organizational Unit</a> / </li>
			<li>Add</li>

		</ul>
		<!-- <h1 class="heading">Create a New Company</h1> -->
	</div>
	<!--/title-->

	<!--data-section-->
	<div class="data_section row-div">
		<div class="data_title row-div">
			<h3>Organizational Unit Setup</h3>
		</div>
		<div class="data_inner row-div">
			<div class="row">
				<!--left-sidebar-->
				<div class="col-12 col-lg-3 left_sidebar">
					<app-entity-sidebar></app-entity-sidebar>
				</div>
				<!--/left-sidebar-->

				<!--right_container-->
				<div class="col-12 col-lg-9 right_container">
					<form [formGroup]="createCompanyForm" class="inner_content row-div"
						(ngSubmit)="createCompanySubmit()">
						<div class="create_company_form global_form">
													<div class="form-group location_field form-group2">
								<label class="label_field">Select the Company</label>
								<div class="controls_field">
									<div class="form-group lavel_1" *ngIf="companyList?.length>0">
										<select class="form-control" required formControlName="companyId"
											name="companyId">
											<option [value]=company.id *ngFor="let company of companyList">
												{{company.companyName}}</option>
										</select>
										<small *ngIf="submitted && fConrols.companyId?.errors" class="text-danger">
											<div *ngIf="fConrols.companyId?.errors?.required">&#x26A0; Organization name
												is required</div>
										</small>
									</div>
								</div>
							</div>
							<div class="form-group name_field">
								<label class="label_field">Organization Name</label>
								<div class="controls_field">
									<input type="text" class="form-control" required name="name" formControlName="name"
										placeholder="Enter the organization name">
									<small *ngIf="submitted && fConrols.name?.errors" class="text-danger">
										<div *ngIf="fConrols.name?.errors?.required">&#x26A0; Organization name is
											required</div>
									</small>
								</div>
							</div>
							<div class="form-group adrs_field">
								<label for="" class="label_field">Description</label>
								<div class="controls_field">
									<textarea class="form-control" formControlName="description"
										placeholder="Enter the organization address"></textarea>

								</div>
							</div>
						</div>
						<div class="tfooter_btn_col">
							<button type="button" class="btn btn-cancel"><i class="fa fa-close"></i> Cancel</button>
							<button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
						</div>

					</form>
				</div>
				<!--/right_container-->
			</div>
		</div>

	</div>
	<!--/data-section-->
</div>
<!--/inner-container-->